<ul cell-padding="10">
  <li class="block" *ngFor="let event of events">
    <div [ngSwitch]="event.format">
      <div *ngSwitchCase="'Online'">Online</div>
      <div *ngSwitchCase="'InPerson'">In Person</div>
      <div *ngSwitchDefault>TBD</div>
    </div>
    <span [ngClass]="getTitle(event.format)">{{ event?.name }}</span>
    <span>{{ event?.date }}</span>
    <span>{{ event?.time }}</span>
    <span *ngIf="event.location"
      >{{ event?.location.address }}, {{ event?.location?.city }},
      {{ event?.location?.country }}</span
    >
    <span *ngIf="event.onlineUrl">{{ event.onlineUrl }}</span>
  </li>
</ul>
